body {
  font-family: ui-rounded;
  margin: 30px;
  background-color: #ddefe3;
  background-image: url('https://images.unsplash.com/photo-1463740839922-2d3b7e426a56?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1250&q=80');
  background-repeat: no-repeat;
  background-size: stretch;
  resize: both;
  /* border: 1px solid red; */
}

/* #app {
  /* backdrop-filter: blur(7px); */
/* background-color: #ddefe3; */

/* background-color: #f7dfc7; */
/* } */

.flex-container {
  display: flex;
}

a {
  text-decoration: none;
}

nav {
  flex-flow: row wrap;
  align-content: space-around;
  gap: 10px;
  height: fit-content;
  align-items: center;
  padding: 5px 10px;
  /* border: 1px solid green; */
}

nav a {
  display: inline-block;
  margin: 1em;
  /* border: 1px solid pink; */
  border-radius: 5px;
  padding: 10px 10px;
  background-color: #1f434a;
  opacity: 0.9;
  color: white;
  font-weight: bold;
}

#logo {
  align-self: flex-start;
  flex-grow: 2;
  /* border: 1px solid yellowgreen; */
}

.grid {
  max-width: 1920px;
  height: max-content;
  margin: 0 auto;
  gap: 20px 20px;

  display: grid;
  grid-template-columns: 200px 1fr;
  /* border: 5px solid yellow; */
}

.grid-item {
  /* border: 5px solid red; */
  /* backdrop-filter: blur(7px); */
  margin: 10px 10px;
  border-radius: 15px;
}
/* #app {
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    'header'
    'sidebar'
    'content'
    'content'
    'footer';
} */

/* @media only screen and (min-width: 500px) {
  .grid {
    grid-template-columns: 50px 1fr;

} */

/* @media only screen and (min-width: 600px) {
  .grid {
    grid-template-columns: 50px 1fr 1fr;
    grid-template-rows: 60px 1fr 1fr;
    grid-template-areas:
      'header' 'header' 'header'
      'sidebar' 'content' 'content'
      'footer' 'footer' 'footer';
    max-width: 1920px;
  }
}
*/

/* .flex-item {
  flex: 1;
} */

/* label {
  display: block;
  border: 1px solid green;
} */
.users-container,
.sidebar,
.form,
form div {
  flex-flow: column wrap;
  padding: 10px;
  gap: 15px;
}

.sidebar {
  position: relative;
  top: 100px;
}

.sidebar a {
  display: inline-block;
  margin: 1em;
  /* border: 1px solid pink; */
  border-radius: 5px;
  padding: 10px 10px;
  background-color: #81819c;
  font-weight: bolder;
  opacity: 0.8;
  color: black;
}
/* form div {
  font-size: 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  margin: 1em;
  padding: 2px 0;
} */
.form,
form div {
  font-size: 14px;
  text-align: center;
  align-items: center;
  border: 1px solid rebeccapurple;
}

.form {
  margin: 75px 75px;
  padding: 30px 30px;
  /* border: 1px solid salmon; */
  border-radius: 15px;
}

input {
  height: 100%;
  width: fit-content;
  padding: 6px 8px;
  line-height: 16px;
  /* box-sizing: border-box; */
  align-self: center;
  /* border-radius: 3px; */
}

button {
  display: block;
  font-size: 14px;
  height: 35px;
  width: fit-content;
  align-self: center;
  border-radius: 3px;
  margin: 1em;
  box-sizing: border-box;
}

.products-container,
.homepage-container,
.single-product-container,
.account-info {
  flex-flow: row wrap;
  justify-content: space-evenly;
  box-sizing: border-box;
  /* border: 2px solid royalblue; */
  border-radius: 15px;
  margin: 40px 40px;
  padding: 10px 10px;
  align-content: space-around;
  gap: 15px 15px;
  /* margin-left: 10px;
  margin-right: 10px; */
}

.product-items,
.account-info {
  flex-flow: column;
  justify-content: space-evenly;
}

.products-container img,
.single-product-container img {
  height: 200px;
  width: 200px;
}

#add-to-cart-container {
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.homepage-container {
  align-items: center;
}

.homepage-container h1 {
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 1px;
  font-family: 'Saol';
  font-style: italic;
  padding: 15px;
  backdrop-filter: blur(8px);
  border-radius: 15px;
}

#home-image img {
  /* position: absolute;
  top: 50px;
  left: 24%; */
  /* flex-shrink: 2; */
  border-radius: 50%;
  box-sizing: border-box;
  width: 400px;
  height: 400px;
  /* background-image: url('https://images.unsplash.com/photo-1523049673857-eb18f1d7b578?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1075&q=80'); */
  /* border: 1px solid yellow; */
  box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.4);
}

.admin-buttons {
  display: none;
}
.cartItem,
.cartInfo {
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.cartItem img {
  height: 75px;
}
