body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.products-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-around;
  gap: 15px 15px;
  /* margin-left: 10px;
  margin-right: 10px; */
}

.product-items {
  display: flex;
  flex-flow: column;
}

.products-img {
  height: 200px;
  width: 200px;
}
