body {
  font-family: ui-rounded;
  margin: 30px;
  background-color: #ddefe3;
  background-image: url('https://images.unsplash.com/photo-1463740839922-2d3b7e426a56?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1250&q=80');
  background-repeat: no-repeat;
  background-size: stretch;
  resize: both;
}

.flex-container {
  display: flex;
}

a {
  text-decoration: none;
}

nav,
.view,
.checkout {
  flex-flow: row wrap;
  align-content: space-around;
  gap: 10px;
  height: fit-content;
  align-items: center;
  padding: 5px 10px;
}

nav a,
form button,
select,
.grid-item button,
.quantity-button,
#add-to-cart-button {
  display: inline-block;
  margin: 1em;
  border-radius: 5px;
  padding: 10px 10px;
  background-color: #1f434a;
  opacity: 0.9;
  color: white;
  font-weight: bold;
}

#logo {
  align-self: flex-start;
  flex-grow: 2;
}

.grid {
  height: fit-content;
  width: fit-content;
  min-width: 900px;
  margin: 0 auto;
  gap: 20px 5px;

  display: grid;
  grid-template-columns: 200px 1fr;
}

.grid-item {
  margin: 0px 5px;
  border-radius: 15px;
}

.grid-item h1,
.grid-item h2,
.checkout-container h3 {
  margin: 30px;
}

.view,
.checkout {
  justify-content: end;
}

.view div {
  border-radius: 15px;
  padding: 5px 10px;
  backdrop-filter: blur(8px);
  font-size: 1.2em;
  font-weight: bold;
}

.users-container,
.sidebar,
.form,
form div,
.thank-you {
  flex-flow: column wrap;
  padding: 10px;
  gap: 15px;
}

.sidebar {
  position: relative;
  top: 100px;
  height: fit-content;
}

.sidebar a,
select,
option {
  display: inline-block;
  border-radius: 5px;
  padding: 10px 10px;
  background-color: #81819c;
  font-weight: bolder;
  opacity: 0.8;
  color: black;
}

option {
  margin: 5px 3px;
}

.form,
form div {
  font-size: 17px;
  text-align: center;
  align-items: center;
}

.form,
.thank-you,
.single-product-info,
.my-account,
.checkout-container,
.cart-container {
  margin: 75px auto;
  padding: 30px 30px;
  border-radius: 15px;
  width: fit-content;
  height: fit-content;
  backdrop-filter: blur(8px);
  background-color: rgba(129, 129, 156, 0.6);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

form button {
  margin: auto;
  background-color: rgba(55, 65, 67, 0.9);
  font-weight: normal;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-width: 1px;
}

.form h3 {
  font-size: 1.2rem;
}

input {
  height: 100%;
  width: fit-content;
  padding: 6px 8px;
  line-height: 16px;
  align-self: center;
}

.products-container,
.homepage-container,
.single-product-container,
.cartInfo,
.my-account {
  flex-flow: row wrap;
  justify-content: space-evenly;
  box-sizing: border-box;
  border-radius: 15px;
  margin: 10px 10px;
  padding: 10px 10px;
  align-content: space-around;
  gap: 15px 15px;
}

.product-items,
.my-account {
  flex-flow: column;
  justify-content: space-evenly;
  border-radius: 15px;
  backdrop-filter: blur(9px);
}

.products-container img,
.single-product-container img {
  height: 200px;
  width: 200px;
}

.single-product-container img {
  margin: 20px;
}

.single-product-info {
  margin: 30px;
  min-width: 300px;
  padding: 10px;
}

#add-to-cart-container {
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  backdrop-filter: blur(8px);
  background-color: rgba(129, 129, 156, 0.6);
}

.homepage-container {
  align-items: center;
}

.homepage-container h1 {
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 1px;
  font-family: 'Saol';
  font-style: italic;
  padding: 15px;
  backdrop-filter: blur(8px);
  border-radius: 15px;
}

#home-image img {
  border-radius: 50%;
  box-sizing: border-box;
  width: 400px;
  height: 400px;
  box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.4);
}

table {
  border-radius: 15px;
  backdrop-filter: blur(8px);
  background-color: rgba(190, 74, 80, 0.5);
}

td,
th {
  padding: 2rem;
  text-align: right;
}

table img {
  height: 75px;
}

.checkout,
.thank-you p {
  margin: auto 20px;
}

.thank-you p,
.my-account p {
  font-size: 1.2em;
  padding: 20px 20px;
}

.my-account {
  width: 500px;
  min-height: 300px;
  margin: 50px;
}

.team-profiles {
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 10px 10px;
}

.member {
  padding: 10px 10px;
  flex-flow: column wrap;
  width: 300px;
  height: fit-content;
  text-align: center;
  border-radius: 15px;
  background-color: rgba(221, 239, 227, 0.5);
}

.member img {
  border-radius: 50%;
  height: 200px;
}

.member a {
  font-weight: bolder;
  color: blue;
}

ul {
  text-align: left;
}

.no-items {
  padding: 20px, 20px;
}
